.text-muted {
    --bs-text-opacity: 1;
    color: #19677A !important;
}

.navbar-dark .navbar-nav .nav-link {
    color:#ffffff;
}

.navbar-dark input[type="search"] {
    border-color: #19677A;
    background-color: #ffffff;
    color: #000000;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
